{% extends "OPG_app/middle.html" %}
{% load i18n %}

{% block title %}
{% endblock %}


{% block data %}
<div class="row full-height2">

        {% block welcome_index %}
        {% endblock %}
        {% block buttons_index %}
        {% endblock %}
        {% block products %}
        {% endblock %}
        {% block register %}
        {% endblock %}
        {% block edit_profile %}
        {% endblock %}
        {% block login %}
        {% endblock %}
        {% block profile %}
        {% endblock %}
        {% block product %}
        {% endblock %}
        {% block add_product %}
        {% endblock %}

</div>
{% endblock %}

